h1 No.4 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr
.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/eleni-fragkouli.png")
    ul.list-inline
      li: a(href="https://twitter.com/elenifragkouli") Twitter
      li: a(href="https://github.com/EleniFragkouli") GitHub
  .col-lg-9
    h3 Visual Formatting Model <small>by Eleni Fragkouli</small>

    p Eleni will show how she dived in the Visual Formatting Model, in order to satisfy her wonder of why margins collapse. She will also show how this approach helps her explore the design space more effectively.

    p Eleni is a student at BCIT with a voracious curiosity. In her journey for learning CSS she has been documenting the challenges and visual aids that have helped her get a better understanding of CSS and front-end development.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/darryl-pogue.png")
    ul.list-inline
      li: a(href="https://twitter.com/dpogue") Twitter
      li: a(href="https://github.com/dpogue") GitHub
  .col-lg-9
    h3 Pseudo-classes &amp; Pseudo-elements <small>by Darryl Pogue</small>

    p Darryl will present a short overview of the standard <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/pseudo-classes">pseudo-classes</a> (:hover, :first-letter, :first-child, etc.) and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements">pseudo-elements</a> (::before, ::after, ::placeholder, etc.), followed by some examples of using pseudo-elements for extra borders, buttons with chevron edges, and more.

    p Darryl works at <a href="http://ayogo.com/">Ayogo</a>. He specializes in web services and application development and has experience in a wide variety of programming languages.

hr

h2 Should I come to this Meetup?

p This event is specially good for new developer or designers that are getting started with CSS but want to start using their skills to do some client work.

p You should come if:

ul
  li You’re getting started with CSS
  li You want to get a better understanding of CSS
  li You’d like to start working with clients
  li You’d like to simplify your HTML structure by improving your CSS
  li You want to learn more advanced CSS tips

hr

h2 Our Amazing Sponsors

p This meetup wouldn&rsquo;t be possible without our amazing sponsors:

//- .row.sponsor
  .col-lg-3
    p: a(href="http://oreilly.com/"): img.sponsor-logo(src="/img/sponsors/oreilly.jpg")
  .col-lg-9
    p
      | Thanks to <a href="http://oreilly.com/">O’Reilly</a> for sponsoring free stuff!
      br
      span.text-muted O’Reilly Media spreads the knowledge of innovators through its books, online services, magazine, and conferences. An active participant in the technology community, the company has a long history of advocacy, meme-making, and evangelism.

.row.sponsor
  .col-lg-3
    p: a(href="https://harp.io"): img.sponsor-logo(src="/img/sponsors/harp.png")
  .col-lg-9
    p
      | Thanks to the <a href="https://www.harp.io/">Harp Platform</a> for sponsoring the beer!
      br
      span.text-muted The Harp Platform brings delight back to web publishing with a one-click-publishing button integrated with Dropbox that delivers the best development and publishing experience.

.row.sponsor
  .col-lg-3
    p: a(href="https://hootsuite.com/"): img.sponsor-logo(src="/img/sponsors/hootsuite.png")
  .col-lg-9
    p
      | Thanks to <a href="https://hootsuite.com/">Hootsuite</a> for sponsoring the venue!
      br
      span.text-muted HootSuite helps teams execute social media strategies across multiple social networks like Twitter, Facebook, LinkedIn and Google+ Pages from one secure web-based social relationship platform.

.row.sponsor
  .col-lg-3
    p: a(href="http://ayogo.com/"): img.sponsor-logo(src="/img/sponsors/ayogo.jpg")
  .col-lg-9
    p
      span.text-muted Ayogo provides a variety of analysis, design, and development services; from early stage concept development to final delivery of software, including a cloud-based hosting environment.