h1 No.5 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/anny-he.jpeg")
    ul.list-inline
      li: a(href="https://twitter.com/annyhehe") Twitter
      li: a(href="https://github.com/annyh") GitHub
      li: a(href="http://www.linkedin.com/in/annyhe") LinkedIn
  .col-lg-9
    h3 Z-index: Layer the DOM to your will <small>by Anny He</small>

    p Ever had troubles with an element that’s “stuck” under other elements, even though it has the highest z-index in the DOM? Ever had problems troubleshooting layered elements using CSS?
    
    p Trouble no more! Learn about z-index and how to use it to layer the DOM to your will. Anny will cover two important concepts: <strong>stacking context</strong> and <strong>stacking order</strong>. You will walk away with a new-found appreciation for z-index’s powers, and tips for troubleshooting CSS layering problems.

    p Anny is a passionate young web developer, specializing in responsive front-end design, HTML/CSS and javascript.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/dave-arthur.jpeg")
    ul.list-inline
      li: a(href="https://twitter.com/darthvadur") Twitter
      li: a(href="https://github.com/darthvadur") GitHub
      li: a(href="http://www.davearthurweb.com/") Website
  .col-lg-9
    h3 CSS Selectors Best Practices &amp; Performance <small>by Dave Arthur</small>

    p We’ve come a long way since the old days of CSS! Dave is here to bring us up to date by showing us how to use some handy level 2 and 3 selectors, diving into selector best practices and performance implications. Finally he will give a sneak peak into the future of level 4 selectors!

    p Dave is a front-end web developer and web technologies instructor. He passionately follows progressive web technologies and techniques including HTML5, CSS3 and multi-device web design and development. Dave also loves biking!

hr

h2 Should I come to this Meetup?

p You should come if:

ul
  li You want to get better at CSS
  li You want to meet cool people in the tech industry
  li You’re new or just getting started with CSS
  li You want to learn more advanced CSS tips
  li You want to learn about using z-index
  li You've had problems with z-index and want to master it
  li You want to expand your CSS selectors knowledge

hr

h2 Our Amazing Sponsors

p This meetup wouldn&rsquo;t be possible without our amazing sponsors:

.row.sponsor
  .col-lg-3
    p: a(href="https://harp.io"): img.sponsor-logo(src="/img/sponsors/chloi.png")
  .col-lg-9
    p
      | Thanks to <a href="https://chloi.io/">Chloi</a> for sponsoring the beer!
      br
      span.text-muted Chloi builds next-generation web and mobile experiences, with strong visual identites.

.row.sponsor
  .col-lg-3
    p: a(href="https://hootsuite.com/"): img.sponsor-logo(src="/img/sponsors/hootsuite.png")
  .col-lg-9
    p
      | Thanks to <a href="https://hootsuite.com/">Hootsuite</a> for sponsoring the venue!
      br
      span.text-muted HootSuite helps teams execute social media strategies across multiple social networks like Twitter, Facebook, LinkedIn and Google+ Pages from one secure web-based social relationship platform.