h1 No.6 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/brian-devries.jpg")
    ul.list-inline
      li: a(href="http://briandevries.com/") briandevries.com
      li: a(href="https://twitter.com/briandevries_") @briandevries_
      li: a(href="https://github.com/BrianDV") github.com/BrianDV
  .col-lg-9
    h3 Recovering from nightmare CSS <small>by Brian DeVries</small>

    p.level (Intermediate/Advanced)

    p We’ve all been there. We’re thrown in the deep side of the pool, on a project with unorganized and poorly written CSS. Brian will be showing us strategies to recover from these situations.

    p But you can’t just fix it and walk away! Don’t worry, Brian  will also show us how to implement a style guide to improve team collaboration and code maintainability.

    p Brian has experience working on large scale enterprise software solutions. His focus is delivering scalable applications that meet performance and accessibility requirements of the end user.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/pez-pengelly.jpg")
    ul.list-inline
      li: a(href="http://pezillionaire.com/") pezillionaire.com
      li: a(href="https://twitter.com/pezillionaire") @pezillionaire
      li: a(href="https://dribbble.com/pezillionaire") dribbble.com/pezillionaire
      li: a(href="http://instagram.com/pezillionaire") instagram.com/pezillionaire
  .col-lg-9
    h3 Flexbox and the evolution of layouts <small>by Pez Pengelly</small>

    p.level (Beginner/Intermediate)

    p Pez will take us from the beginnings of layouts on the web (yes, he remembers), finishing with an exploration of flexbox and why it’s quickly becoming a powerful tool!

    p If we’re lucky, we’ll hear him Karaoke-ing about topics like: how the web evolved to where it is now in terms of layout. How the web originally started with just markup, how it transitioned to inline HTML styles, tables, CSS, floats, positioning, css grids, libraries and flexbox.

    p Pez is a front end web developer and interaction designer. He creates responsive websites and awesome user interfaces. He loves working on products and services that make lives better.

hr

h2 Should I come to this Meetup?

p <strong>Everybody</strong>’s always welcome to CSS Brigade. No matter what your level is, you’ll learn something new. Every meetup event is a bit different. You’ll especially enjoy this CSS Brigade if:

ul
  li You want to learn about:
    ul
      li <a href="http://alistapart.com/article/creating-style-guides">Style guides</a>
      li Code maintainability
      li Team collaboration
      li Good code practices
      li Layout (visual structure of page elements)
      li Evolution of the web
      li <a href="http://css-tricks.com/snippets/css/a-guide-to-flexbox/">Flexbox</a> (new CSS property to position elements)
  li You have some experience with CSS
  li You’ve previously worked with shady CSS
  li You work with a team
  li You want to meet other cool people in the industry

p Talks level: Beginner/Intermediate/Advanced

hr

h2 Our Amazing Sponsors

p This meetup wouldn&rsquo;t be possible without our amazing sponsors:

.row.sponsor
  .col-lg-3
    p: a(href="https://harp.io"): img.sponsor-logo(src="/img/sponsors/chloi.png")
  .col-lg-9
    p
      | Thanks to <a href="https://chloi.io/">Chloi</a> for sponsoring the beer!
      br
      span.text-muted Chloi builds next-generation web and mobile experiences, with strong visual identites.

.row.sponsor
  .col-lg-3
    p: a(href="https://hootsuite.com/"): img.sponsor-logo(src="/img/sponsors/hootsuite.png")
  .col-lg-9
    p
      | Thanks to <a href="https://hootsuite.com/">Hootsuite</a> for sponsoring the venue!
      br
      span.text-muted HootSuite helps teams execute social media strategies across multiple social networks like Twitter, Facebook, LinkedIn and Google+ Pages from one secure web-based social relationship platform.