h1 CSS Brigade #7 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

p <a href="http://www.meetup.com/CSS-Brigade-Vancouver/events/220460806/">Welcome back to CSS Brigade!</a> No matter you experience using CSS to design and develop for the web, you’ll learn something new. We’re excited to announced that CSS Brigade #7 will be Wednesday March 11th.

ul
  li Doors: 6:30PM
  li Talks begin: 7:00PM
  li Entrance closed during talks

p This CSS Brigade focuses on theming: whether you’re building custom theme elements and need to think about how it applies generally, or you’re layering upon existing CSS frameworks for something specific and custom, there’s a lot to learn at this CSS Brigade.

h2 Writing Custom CSS for Side Projects

p Alanna Munro will speak about her experience theming Ghost and making the most of SVGs in her project documenting <a href="http://www.locallettering.com/">Vancouver’s apartment lettering</a>.

p Alanna is an interaction designer, typographer, letter-maker and code explorer. She freelances through <a href="http://alannamunro.com">alannamunro.com</a>.

h2 Theming Bootstrap

p Matt Lambert is an expert in theming Bootstrap. By end of his talk you’ll know about the necessary tools, and be setup to start building your own theme using LESS.

p Matt is a Front End Designer &amp; Developer from Vancouver, BC, Canada. In the day he works for CA Technologies as a Senior Software Engineer. In the evenings, he works as a self-published author at <a href="http://mattlambert.ca/">mattlambert.ca</a>. Matt also designs and develops themes and templates at <a href="http://cardeo.ca/">cardeo.ca</a>.

h2 Sponsors

p CSS Brigade is sponsored by <a href="https://hootsuite.com/about/careers">Hootsuite</a> &amp; <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a>.

p Hootsuite kindly lets us use their headquarters. They’re always welcoming, and also hiring! If you’re looking for a new work opportunity, take a look at <a href="https://hootsuite.com/about/careers">their careers page</a>.

p <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a> is sponsoring the drinks for CSS Brigade! They’re a developer bootcamp that firmly believe developers learn by doing. Thanks to them for helping even more developers learn by doing through CSS Brigade.

h3 Secondary sponsors

p <a href="http://chloi.io">Chloi</a> &amp; <a href="http://mobify.com/jobs">Mobify</a> also kindly help sponsor overhead for CSS Brigade.

p If you or your company is interested in sponsoring drinks at this meetup, or being part of a future event, send me an email at <a href="mailto:rfrederick@mobify.com">rfrederick@mobify.com</a>.

h2 Additional information

p We’ll be photographing and potentially filming during the meetup. The photos and video clips may be published on the CSS Brigade websites or circulated to promote future meetups. If you have questions or concerns about that, please contact Ryan at rfrederick@mobify.com.

p Beer and pop are both available at the event, so it is 19+ with minors not permitted. Please make sure to being proper ID if you’d like to have any of the latter.

p After the talks, we’ll walk to a nearby venue for food and drinks, and to continue our conversations. We’d love for you to join us!

h3 Code of Conduct

p CSS Brigade has always aimed to create a welcoming environment for everyone. Now, we’re commit continually improving this through our attendee, organiser, speaker, and sponsor <a href="http://cssbrigade.com/code-of-conduct">Code of Conduct</a>.

h3 Follow us

p Make sure you follow <a href="http://twitter.com/cssbrigade">@cssbrigade on Twitter</a>, and mention us if you have any questions.

p See you at the event!
