h1 CSS Brigade #8 &mdash; #{ date } <small>at #{ location }</small>
!= partial("../_partials/map")

p.lead.space-above.space-below <a href="#">Welcome to CSS Brigade!</a> No matter you experience using CSS to design and develop for the web, you’ll learn something new. We’re excited to announced that CSS Brigade #8 will be Monday July 6th.

ul
  li Doors: 6:30PM
  li Talks begin: 7:00PM
  li Entrance closed during talks

p <a href="http://www.meetup.com/CSS-Brigade-Vancouver/events/0/">RSVP on Meetup.com</a>

hr

h2 Speakers

.space-above.space-below
  h3.space-below Responsive Colour <small>Clarissa Peterson</small>
  .row.speaker
    .col-lg-2
      p: img(src="/img/speakers/clarissa-peterson.jpg")
    .col-lg-10
      p Color is one of the first things we learn how to do in CSS — and yet many of us don’t ever go further than typing hex numbers handed to us by a designer. But getting colors to appear on a screen is just the beginning. Discover the secrets behind CSS color values, and how to adjust color attributes like saturation and brightness using Sass. Find out how user context, perception, and color blindness affect what people see, and what you can do to make the colors on your site more accessible. Learn why colors look different on different devices and how you can ensure your color choices make your site look good for all users.

      p Clarissa Peterson is a UX designer, web developer and co-founder of Peterson/Kandy, a Montreal-based digital agency specializing in creating responsive websites. Clarissa frequently speaks and gives workshops on responsive design, mobile strategy, and user experience. She is the author of <cite>Learning Responsive Web Design: A Beginner’s Guide</cite>, published in 2014 by O’Reilly Media. You can find out more about her work at <a href="http://www.clarissapeterson.com/">clarissapeterson.com</a>.

.space-above.space-below
  h3.space-below CSS Snippets <small>Johnny Ji</small>
  .row.speaker
    .col-lg-2
      p: img(src="/img/speakers/johnny-ji.jpg")
    .col-lg-10

      p When we first start learning something like CSS we have to struggle a bit – we Google around, we try things, and we put them together. Eventually we end up with a cheat sheet in our heads. Wouldn’t it be great to peek at someone else’s cheat sheet? Someone who’s been there and done that? In this talk, Johnny Ji presents a collection of his CSS tools, techniques and tips – a way to make your time getting started in CSS land that much easier.

      p Johnny is a full stack web dev who loves backend logic as much as perfecting pixels. He’s a recent graduate of the Web Development Bootcamp at Lighthouse Labs, winning a People’s Choice award for his work. His current frameworks of choice are Ruby on Rails and React JS. You can find out more at <a href="http://www.johnnyji.com/">johnnyji.com</a>

hr

h2 Sponsors

p CSS Brigade is sponsored by <a href="https://hootsuite.com/about/careers">HootSuite</a> &amp; <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a>.

p HootSuite kindly lets us use their headquarters. They’re always welcoming, and also hiring! If you’re looking for a new work opportunity, take a look at <a href="https://hootsuite.com/about/careers">their careers page</a>.

p <a href="https://www.lighthouselabs.ca/">Lighthouse Labs</a> is again sponsoring the drinks for CSS Brigade! They’re a developer bootcamp that firmly believe developers learn by doing. Thanks to them for helping even more developers learn by doing through CSS Brigade.

h3 Secondary sponsors

p <a href="http://chloi.io">Chloi</a> &amp; <a href="http://mobify.com/jobs">Mobify</a> also kindly help sponsor overhead for CSS Brigade.

p If you or your company is interested in sponsoring drinks at this meetup, or being part of a future event, send me an email at <a href="mailto:rfrederick@mobify.com">rfrederick@mobify.com</a>.

h2 Additional information

p We’ll be photographing and potentially filming during the meetup. The photos and video clips may be published on the CSS Brigade websites or circulated to promote future meetups. If you have questions or concerns about that, please contact Ryan at rfrederick@mobify.com.

p Beer and pop are both available at the event, so it is 19+ with minors not permitted. Please make sure to being proper ID if you’d like to have any of the latter.

p After the talks, we’ll walk to a nearby venue for food and drinks, and to continue our conversations. We’d love for you to join us!

h3 Code of Conduct

p CSS Brigade has always aimed to create a welcoming environment for everyone. Now, we’re commit continually improving this through our attendee, organiser, speaker, and sponsor <a href="http://cssbrigade.com/code-of-conduct">Code of Conduct</a>.

h3 Follow us

p Make sure you follow <a href="http://twitter.com/cssbrigade">@cssbrigade on Twitter</a>, and mention us if you have any questions.

p See you at the event!
