section
  h1 welcome

section
  h2 css brigade mission
  ul
    li Talk about CSS
    li Get to know each other
    li Beers

section
  h2 Looking for Speakers!
  ul
    li Learning CSS
    li Responsive Design
    li Animations
    li Layouts
    li Frameworks
    li Pre-processors
    li …
    li Anything related to CSS

section
  h2 Sponsors
//- section
  img(src="/img/sponsors/mobify.png")
  p Thanks for sponsoring this awesome venue!
section
  img(src="/img/sponsors/harp.png")
  //- p Thanks for sponsoring the beers!
section
  img(src="/img/sponsors/chloi.png")
  //- p Thanks for sponsoring my time!
section
  img(src="/img/sponsors/hootsuite.png")
  //- p Thanks for sponsoring this awesome venue!

section
  h2 co-organizers &amp; friends
  ul
    li Ryan Frederick
    li Steve Mynett
    li Brock, Rob &amp; Kenneth

section
  h2 Tonight Speakers

section
  h2 Eleni Fragkouli
  p Visual Formatting Model
  br
  ul
    li Recently graduated student from BCIT
    li Hungry for learning CSS

section
  h2 Darryl Pogue
  p Pseudo-Classes/Elem­ents
  br
  ul
    li Specializes in web services and application development
    li Experience in a wide variety of programming languages

section
  h2 Grab a beer &amp; Enjoy it!