section
  h1 welcome

section
  h2 What is CSS Brigade?
  ul
    li Share and learn
    li Get to know each other
    li Beers

section
  h2 Looking for Speakers!
  ul
    li Learning CSS
    li Responsive Design
    li Animations
    li Layouts
    li Frameworks
    li Pre-processors
    li …
    li Anything related to CSS

section
  h2 Sponsors
//- section
  img(src="/img/sponsors/mobify.png")
  p Thanks for sponsoring this awesome venue!
section
  img(src="/img/sponsors/harp.png")
  //- p Thanks for sponsoring the beers!
section
  img(src="/img/sponsors/chloi.png")
  //- p Thanks for sponsoring my time!
section
  img(src="/img/sponsors/hootsuite.png")
  //- p Thanks for sponsoring this awesome venue!

section
  h2 co-organizers &amp; friends
  ul
    li Ryan Frederick
    li Steve Mynett
    li Kenneth Ormandy

section
  h2 Tonight Speakers

section
  h2 Anny He
  p Z-index: Layer the DOM to your will

section
  h2 Dave Arthur
  p CSS Selectors Best Practices &amp; Performance

section
  h2 Grab a beer &amp; enjoy!