section
  h1 welcome

section
  h2 What is CSS Brigade?
  ul
    li Share and learn
    li Get to know each other
    li Beers

section
  h2 Looking for Speakers!
  ul
    li Learning CSS
    li Responsive Design
    li Animations
    li Layouts
    li Frameworks
    li Pre-processors
    li …
    li: strong Anything related to CSS

section
  h2 New meetup in town
  h2 Type Brigade
  p <img style="height:1em;vertical-align:middle;" src="http://img2.meetupstatic.com/img/8308650022681532654/header/logo-2x.png" /> meetup.com/typebrigade

section
  h2 Sponsors
//- section
  img(src="/img/sponsors/mobify.png")
  p Thanks for sponsoring this awesome venue!
//- section
  img(src="/img/sponsors/harp.png")
  //- p Thanks for sponsoring the beers!
section
  img(src="/img/sponsors/chloi.png")
  //- p Thanks for sponsoring my time!
section
  img(src="/img/sponsors/hootsuite.png")
  //- p Thanks for sponsoring this awesome venue!

section
  h2 co-organizers &amp; friends
  ul
    li Ryan Frederick
    li Steve Mynett
    li Kenneth Ormandy

section
  h2 Tonight Speakers

section
  h2 Brian DeVries
  p Recovering from nightmare CSS

section
  h2 Pez Pengelly
  p Flexbox and the evolution of layouts 

section
  h2 Grab a beer &amp; enjoy!