h1 Call for speakers

p We are inviting the CSS community to submit proposals for future CSS Brigade meetups.

p If you think you have something great to talk about, or know someone who does, we&rsquo;d love to have you present it at one of our next meetups.

p We believe that everybody is talented and everbody has something to learn, so don't shy away from sending your idea, you don't have to know everything CSS to teach us something.

p If you need more encouragement, check out Tiffany Conroy&rsquo;s site <a href="http://weareallaweso.me/">We Are All Awesome</a>. Tiffany is a JSConf EU co-organizer, and her site is full of great advice.

h2 Topics

p If you need some suggestions to get your ideas flowing, we are particularly interested in:

ul
  li Improving CSS developers&rsquo; lives
  li Pre-processors
  li Tools &amp; Workflow
  li Mobile CSS
  li Cutting-edge technological advances in the world of CSS or computer science in general, if somehow applicable to CSS
  li Crazy Ideas &amp; Crazy Hacks
  li CSS in a hostile environment
  li Crazy drawing with CSS
  li CSS for Games
  li Scale &amp; Performance
  li The history and future of CSS
  li Anything related to CSS; This is your meetup.

h2 Guidelines

p We understand that everybody is different and everybody has different workflows. These are the <strong>non-mandatory</strong> guidelines:

ul
  li Try to limit your talk to 30 minutes
  li Have your slides available online <a href="#slides">*</a>

h2 Submit your talk
.form-wrap
  #wufoo-z7x4m1
  script.
    var z7x4m1;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'cssbrigade',
    'formHash':'z7x4m1',
    'autoResize':true,
    'height':'497',
    'async':true,
    'header':'hide'};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');

hr

h3#slides Slides online
p The web is the best publishing platform, so why not use it to distribute your presentation? Here's a list of services that can help publish your slides online:

ul
  li
    a(href="https://presentate.com/") Presentate
    p An HTML5 presentation software that works everywhere.
  li
    a(href="http://www.slideshare.net/") SlideShare
    p Service that allows you to upload your presentations, documents, PDFs and professional videos
  li
    a(href="https://harp.io/") Harp Platform
    p Web publishing platform integrated with Dropbox. Currently in beta, <a href="mailto:jorgepedret@gmail.com">email me</a> if you want access.
  li
    a(href="http://bartaz.github.io/impress.js/#/bored") impress.js
    p A presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com.
  li
    a(href="http://lab.hakim.se/reveal-js/") reveal.js
    p A framework for easily creating beautiful presentations using HTML.

hr

p.text-muted I really liked <a href="http://2013.cssconf.eu/call-for-speakers/">CSSConfEU&rsquo;s Call for Speakers</a> page. If you notice any similarities, it&rsquo;s because I used their page as a reference.
